@import 'lib/colors';

.container {
  #boat-data-goes-here {
    .boat {
      position: relative;

      padding: 2rem 0.7rem;

      .information {
        .price {
          color: $accentColor;
          font-size: 1.4rem;
          font-weight: 600;
          font-style: italic;
          line-height: 2.1rem;
        }
      }
    }
  }
}

