@import 'lib/colors';
.jotForm {
            margin-top: -40px;
}

iframe {
            margin-top: 10px;
            width: 90%;
}

.social-media {
            font-size: 44px;
            text-align: left;
}

.jake-contact {
            margin-top: 40px;
}
.marina {
            font-size: 28px;
            color: $accentColor;
}


h2 {
            font-size: 28px;
            color: $bodyTextColor;
}

.email {
            font-size: 18px;
            color: hsl(201, 21%, 21%);
            font-weight: 700;
}

