footer {
  @include size(100%, 20rem);
  padding-top: 25px;
  margin-bottom: 27px;
  background-color: $bodyTextColor;
  width: 100%;
  color: $backgroundColor;
  i.fa {
    font-size: 6rem;
    display: block;
    text-align: center;
    margin-bottom: 15px;
  }
  i:hover {
    color: $accentColor;
  }
  .contact-info {
    padding-left: 60px;
  }
  .social-icons {
    a {
      text-decoration: none;
      color: $backgroundColor;
    }
  }
  .aw-widget-current {
    max-width: 185px;
    margin: 5px auto;
  }
}


