#title {
  width: 100%;
  height: 3.8rem;
  padding: 0.4rem 0.6rem;
  margin-bottom: 2rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.75rem;
  color: #2a3941;
  background-color: #f0f0f0;
  border: none; }
  #title:focus {
    outline: none; }

input[type="submit"] {
  margin-top: 2rem;
  float: right;
  font-size: 1.8rem; }

#post-error {
  margin-top: 2rem;
  font-size: 1.4rem; }
